name: Convert JSON to M3U

on:
  push:
    paths:
      - "channels.json"
      - "json/tamilott.json"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip

      - name: Convert JSON to M3U
        run: |
          python json_to_m3u.py channels.json channels.m3u

      - name: Commit M3U output
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add channels.m3u
          git commit -m "Auto-update: JSON to M3U" || echo "No changes to commit"
          git push
          
